.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 750rpx;
  height: 1625.5813953488373rpx;
  overflow: hidden;
  .box_1 {
    background-color: rgba(243, 234, 184, 1);
    height: 163.95348837209303rpx;
    margin-top: -1.744186046511628rpx;
    width: 750rpx;
    .box_8 {
      width: 711.6279069767442rpx;
      height: 34.883720930232556rpx;
      margin: 13.953488372093023rpx 0 0 19.186046511627907rpx;
      .text_1 {
        width: 94.18604651162791rpx;
        height: 34.883720930232556rpx;
        overflow-wrap: break-word;
        color: rgba(1, 1, 1, 1);
        font-size: 29.651162790697676rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: SF Pro Text-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
      }
      .box_2 {
        background-color: rgba(0, 0, 0, 1);
        width: 31.3953488372093rpx;
        height: 20.930232558139537rpx;
        margin: 8.720930232558139rpx 0 0 481.3953488372093rpx;
      }
      .box_3 {
        background-color: rgba(0, 0, 0, 1);
        width: 29.651162790697676rpx;
        height: 22.674418604651162rpx;
        margin: 8.720930232558139rpx 0 0 13.953488372093023rpx;
      }
      .image_1 {
        width: 48.83720930232558rpx;
        height: 22.674418604651162rpx;
        margin: 6.976744186046512rpx 0 0 12.209302325581396rpx;
      }
    }
    .box_9 {
      width: 723.8372093023256rpx;
      height: 76.74418604651163rpx;
      margin: 22.674418604651162rpx 0 15.69767441860465rpx 8.720930232558139rpx;
      .label_1 {
        width: 76.74418604651163rpx;
        height: 76.74418604651163rpx;
      }
      .text_2 {
        width: 198.8372093023256rpx;
        height: 50.58139534883721rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 55.81395348837209rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 13.953488372093023rpx 0 0 188.37209302325581rpx;
      }
      .box_4 {
        background-color: rgba(235, 211, 154, 1);
        border-radius: 44px;
        width: 151.74418604651163rpx;
        height: 55.81395348837209rpx;
        margin: 12.209302325581396rpx 0 0 108.13953488372093rpx;
      }
    }
  }
  .box_10 {
    width: 750rpx;
    height: 1334.3023255813953rpx;
    .group_5 {
      width: 701.1627906976744rpx;
      height: 92.44186046511628rpx;
      margin: 10.465116279069768rpx 0 0 31.3953488372093rpx;
      .text_3 {
        width: 125.5813953488372rpx;
        height: 50.58139534883721rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 41.86046511627907rpx;
        font-family: Inter-Regular;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        line-height: 41.86046511627907rpx;
        margin-top: 41.86046511627907rpx;
      }
      .label_2 {
        width: 48.83720930232558rpx;
        height: 52.325581395348834rpx;
      }
    }
    .text-wrapper_4 {
      width: 399.4186046511628rpx;
      height: 24.41860465116279rpx;
      margin: 19.186046511627907rpx 0 1187.7906976744187rpx -57.55813953488372rpx;
      .text_4 {
        width: 319.1860465116279rpx;
        height: 19.186046511627907rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 0.5);
        font-size: 22.674418604651162rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
      }
      .text_5 {
        width: 137.7906976744186rpx;
        height: 24.41860465116279rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 0.5);
        font-size: 22.674418604651162rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin-left: -57.55813953488372rpx;
      }
    }
  }
  .box_6 {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 88.95348837209302rpx;
    width: 675rpx;
    margin: -1.744186046511628rpx 0 41.86046511627907rpx 47.093023255813954rpx;
    .group_4 {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      height: 88.95348837209302rpx;
      width: 675rpx;
      .text-wrapper_2 {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 30px;
        height: 88.95348837209302rpx;
        width: 675rpx;
        .text_6 {
          width: 263.3720930232558rpx;
          height: 40.116279069767444rpx;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 0.5);
          font-size: 41.86046511627907rpx;
          letter-spacing: -0.40799999237060547px;
          font-family: Inter-Light;
          font-weight: 300;
          text-align: center;
          white-space: nowrap;
          line-height: 38.372093023255815rpx;
          margin: 24.41860465116279rpx 0 0 29.651162790697676rpx;
        }
      }
    }
  }
  .box_7 {
    background-color: rgba(0, 0, 0, 0.3);
    height: 1625.5813953488373rpx;
    width: 750rpx;
    position: absolute;
    left: 0;
    top: 0;
    .section_1 {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 21px;
      width: 498.83720930232556rpx;
      height: 350.5813953488372rpx;
      margin: 619.1860465116279rpx 0 0 129.06976744186048rpx;
      .text_7 {
        width: 310.4651162790698rpx;
        height: 57.55813953488372rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 41.86046511627907rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Regular;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 83.72093023255815rpx 0 0 94.18604651162791rpx;
      }
      .box_11 {
        width: 495.3488372093023rpx;
        height: 1.744186046511628rpx;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin: 78.48837209302326rpx 0 0 1.744186046511628rpx;
      }
      .image_2 {
        width: 130.8139534883721rpx;
        height: 1.744186046511628rpx;
        margin-left: 251.1627906976744rpx;
      }
      .text-wrapper_5 {
        width: 388.95348837209303rpx;
        height: 55.81395348837209rpx;
        margin: 45.348837209302324rpx 0 26.162790697674417rpx
          50.58139534883721rpx;
        .text_8 {
          width: 148.25581395348837rpx;
          height: 55.81395348837209rpx;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 0.5);
          font-size: 41.86046511627907rpx;
          letter-spacing: -0.40799999237060547px;
          font-family: Inter-Regular;
          font-weight: normal;
          text-align: center;
          white-space: nowrap;
          line-height: 38.372093023255815rpx;
        }
        .text_9 {
          width: 148.25581395348837rpx;
          height: 55.81395348837209rpx;
          overflow-wrap: break-word;
          color: rgba(255, 0, 0, 1);
          font-size: 41.86046511627907rpx;
          letter-spacing: -0.40799999237060547px;
          font-family: Inter-Regular;
          font-weight: normal;
          text-align: center;
          white-space: nowrap;
          line-height: 38.372093023255815rpx;
        }
      }
    }
    .section_2 {
      background-color: rgba(217, 217, 217, 0);
      position: absolute;
      left: 129.06976744186048rpx;
      top: 838.953488372093rpx;
      width: 249.41860465116278rpx;
      height: 134.30232558139534rpx;
    }
    .section_3 {
      background-color: rgba(217, 217, 217, 0);
      position: absolute;
      left: 378.48837209302326rpx;
      top: 838.953488372093rpx;
      width: 249.41860465116278rpx;
      height: 134.30232558139534rpx;
    }
  }
}
