.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 750rpx;
  height: 1625.5813953488373rpx;
  overflow: hidden;
  .box_1 {
    background-color: rgba(243, 234, 184, 1);
    height: 163.95348837209303rpx;
    width: 750rpx;
    .box_2 {
      width: 711.6279069767442rpx;
      height: 34.883720930232556rpx;
      margin: 13.953488372093023rpx 0 0 19.186046511627907rpx;
      .text_1 {
        width: 94.18604651162791rpx;
        height: 34.883720930232556rpx;
        overflow-wrap: break-word;
        color: rgba(1, 1, 1, 1);
        font-size: 29.651162790697676rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: SF Pro Text-Semibold;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
      }
      .box_3 {
        background-color: rgba(0, 0, 0, 1);
        width: 31.3953488372093rpx;
        height: 20.930232558139537rpx;
        margin: 8.720930232558139rpx 0 0 481.3953488372093rpx;
      }
      .box_4 {
        background-color: rgba(0, 0, 0, 1);
        width: 29.651162790697676rpx;
        height: 22.674418604651162rpx;
        margin: 8.720930232558139rpx 0 0 13.953488372093023rpx;
      }
      .image_1 {
        width: 48.83720930232558rpx;
        height: 22.674418604651162rpx;
        margin: 6.976744186046512rpx 0 0 12.209302325581396rpx;
      }
    }
    .box_5 {
      width: 723.8372093023256rpx;
      height: 76.74418604651163rpx;
      margin: 22.674418604651162rpx 0 15.69767441860465rpx 8.720930232558139rpx;
      .arrow {
		  margin-top: 10rpx;
        width: 30.74418604651163rpx;
        height: 55.74418604651163rpx;
      }
      .text_2 {
        width: 198.8372093023256rpx;
        height: 50.58139534883721rpx;
        overflow-wrap: break-word;
        color: rgba(141, 105, 20, 1);
        font-size: 55.81395348837209rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 17.441860465116278rpx 0 0 -12.209302325581396rpx;
      }
      .group_1 {
        background-color: rgba(235, 211, 154, 1);
        border-radius: 44px;
        width: 151.74418604651163rpx;
        height: 55.81395348837209rpx;
        margin: 12.209302325581396rpx 0 0 308.72093023255815rpx;
      }
    }
  }
  .box_6 {
    position: relative;
    width: 750rpx;
    height: 545.9302325581396rpx;
    .box_7 {
      width: 448.25581395348837rpx;
      height: 136.04651162790697rpx;
      margin: 8.720930232558139rpx 0 0 8.720930232558139rpx;
      .box_8 {
        background-color: rgba(217, 217, 217, 1);
        border-radius: 50%;
        width: 136.04651162790697rpx;
        height: 136.04651162790697rpx;
      }
      .text_3 {
        width: 279.06976744186045rpx;
        height: 45.348837209302324rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 38.372093023255815rpx;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin-top: 24.41860465116279rpx;
      }
    }
    .box_9 {
      width: 448.25581395348837rpx;
      height: 136.04651162790697rpx;
      margin: 19.186046511627907rpx 0 0 8.720930232558139rpx;
      .block_1 {
        background-color: rgba(217, 217, 217, 1);
        border-radius: 50%;
        width: 136.04651162790697rpx;
        height: 136.04651162790697rpx;
      }
      .text_4 {
        width: 279.06976744186045rpx;
        height: 45.348837209302324rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 38.372093023255815rpx;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin-top: 24.41860465116279rpx;
      }
    }
    .box_10 {
      width: 448.25581395348837rpx;
      height: 136.04651162790697rpx;
      margin: 19.186046511627907rpx 0 90.69767441860465rpx 8.720930232558139rpx;
      .block_2 {
        background-color: rgba(217, 217, 217, 1);
        border-radius: 50%;
        width: 136.04651162790697rpx;
        height: 136.04651162790697rpx;
      }
      .text_5 {
        width: 279.06976744186045rpx;
        height: 45.348837209302324rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 38.372093023255815rpx;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin-top: 24.41860465116279rpx;
      }
    }
    .box_11 {
      background-color: rgba(217, 217, 217, 0);
      height: 155.2325581395349rpx;
      width: 750rpx;
      position: absolute;
      left: -3.488372093023256rpx;
      top: 0;
      .box_12 {
        width: 20.930232558139537rpx;
        height: 20.930232558139537rpx;
        margin: 22.674418604651162rpx 0 0 116.86046511627907rpx;
        .group_2 {
          background-color: rgba(255, 0, 0, 1);
          width: 20.930232558139537rpx;
          height: 20.930232558139537rpx;
		  border-radius: 100%;
        }
      }
      .text-wrapper_1 {
        width: 179.65116279069767rpx;
        height: 36.627906976744185rpx;
        margin: 54.06976744186046rpx 0 20.930232558139537rpx
          181.3953488372093rpx;
        .text_6 {
          width: 179.65116279069767rpx;
          height: 36.627906976744185rpx;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 0.49);
          font-size: 27.906976744186046rpx;
          font-family: Inter-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 27.906976744186046rpx;
        }
      }
    }
    .text-wrapper_2 {
      background-color: rgba(217, 217, 217, 0);
      height: 155.2325581395349rpx;
      width: 750rpx;
      position: absolute;
      left: -3.488372093023256rpx;
      top: 155.2325581395349rpx;
      .text_7 {
        width: 179.65116279069767rpx;
        height: 36.627906976744185rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 0.49);
        font-size: 27.906976744186046rpx;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 27.906976744186046rpx;
        margin: 97.67441860465117rpx 0 0 181.3953488372093rpx;
      }
    }
    .text-wrapper_3 {
      background-color: rgba(217, 217, 217, 0);
      height: 155.2325581395349rpx;
      width: 750rpx;
      position: absolute;
      left: -3.488372093023256rpx;
      top: 310.4651162790698rpx;
      .text_8 {
        width: 179.65116279069767rpx;
        height: 36.627906976744185rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 0.49);
        font-size: 27.906976744186046rpx;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 27.906976744186046rpx;
        margin: 97.67441860465117rpx 0 0 181.3953488372093rpx;
      }
    }
  }
  .image_2 {
    width: 746.5116279069767rpx;
    height: 746.5116279069767rpx;
    margin: -1.744186046511628rpx 0 0 1.744186046511628rpx;
  }
  .box_13 {
    background-color: rgba(212, 239, 243, 1);
    position: relative;
    width: 750rpx;
    height: 148.25581395348837rpx;
    margin-top: 22.674418604651162rpx;
	.group_4 {
	  width: 100.97674418604652rpx;
	  height: 107.55813953488372rpx;
	  margin:38.372093023255815rpx 0 0 100rpx;
	  text-align: center;
	}
    .highlight {
      width: 80.23255813953489rpx;
      height: 25rpx;
	  margin-left: 15rpx;
    }
	.email{
		width:80rpx;
		height:100rpx;
		display: block;
	}
	.xinxiang{
		width: 90rpx;
		text-align:center;
		font-weight: 600;
		color: #928220;
		opacity: 88%;
	}
    .group_3 {
      // background-color: rgba(141, 105, 20, 1);
   //    position: absolute;
	  // left: 380rpx;
	  // top: 38.372093023255815rpx;
   //    width: 81.51162790697674rpx;
   //    height: 90.04651162790697rpx;
	  width: 80.51162790697674rpx;
	  height: 107.55813953488372rpx;
	  margin: 38.372093023255815rpx 0 0 110.32558139534883rpx;
	  text-align: center;
	  
    }
	.hearts{
		width:70rpx;
		height:64rpx;
		display: block;
		margin-left:15rpx;
	}
	.subangbang{
		width: 120rpx;
		font-weight: 600;
		color: #928220;
		text-align: center;
		opacity: 88%;
	}
	.quan{
		// background-color: #928220;
		// position: absolute;
		// top: 38.372093023255815rpx;
		// left: 600rpx;
		// width: 81.97674418604652rpx;
		// height: 90.04651162790697rpx;
		width: 90.51162790697674rpx;
		height: 107.30232558139535rpx;
		margin: 38.372093023255815rpx 118.6046511627907rpx 0 140.74418604651163rpx;
	}
    .planet {
		width:70rpx;
		height: 90rpx;
		margin-left: 15rpx;
    }
	.sushequan{
		width: 120rpx;
		text-align:center;
		font-weight: 600;
		color: #928220;
		opacity: 88%;
		justify-content: center;
	}

  }
}
