.page {
  background-color: rgba(212, 239, 243, 1);
  position: relative;
  width: 750rpx;
  height: 1625.5813953488373rpx;
  overflow: hidden;
  .box_1 {
    background-color: rgba(255, 217, 128, 1);
    width: 750rpx;
    height: 109.88372093023256rpx;
    margin-top: 148.25581395348837rpx;
    .label_1 {
      width: 64.53488372093024rpx;
      height: 64.53488372093024rpx;
      margin: 33.13953488372093rpx 0 0 54.06976744186046rpx;
    }
    .text_1 {
      width: 190.11627906976744rpx;
      height: 50.58139534883721rpx;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 1);
      font-size: 55.81395348837209rpx;
      letter-spacing: -0.40799999237060547px;
      font-family: Inter-Regular;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      line-height: 38.372093023255815rpx;
      margin: 40.116279069767444rpx 284.30232558139534rpx 0
        156.97674418604652rpx;
    }
  }
  .box_2 {
    position: relative;
    width: 746.5116279069767rpx;
    height: 190.11627906976744rpx;
    margin: 15.69767441860465rpx 0 0 -31.3953488372093rpx;
    .block_1 {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 17px;
      height: 190.11627906976744rpx;
      margin-left: 66.27906976744185rpx;
      width: 680.2325581395348rpx;
      .section_1 {
        width: 237.2093023255814rpx;
        height: 50.58139534883721rpx;
        margin: 12.209302325581396rpx 0 0 24.41860465116279rpx;
        .text-wrapper_1 {
          background-color: rgba(255, 161, 161, 1);
          height: 31.3953488372093rpx;
          margin-top: 10.465116279069768rpx;
          width: 80.23255813953489rpx;
          .text_2 {
            width: 55.81395348837209rpx;
            height: 33.13953488372093rpx;
            overflow-wrap: break-word;
            color: rgba(168, 0, 0, 1);
            font-size: 27.906976744186046rpx;
            font-family: Inter-Regular;
            font-weight: normal;
            text-align: left;
            white-space: nowrap;
            line-height: 27.906976744186046rpx;
            margin-left: 12.209302325581396rpx;
          }
        }
        .text_3 {
          width: 125.5813953488372rpx;
          height: 50.58139534883721rpx;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 41.86046511627907rpx;
          font-family: Inter-Regular;
          font-weight: normal;
          text-align: left;
          white-space: nowrap;
          line-height: 41.86046511627907rpx;
        }
      }
      .text-wrapper_2 {
        width: 504.06976744186045rpx;
        height: 31.3953488372093rpx;
        margin: 68.02325581395348rpx 0 27.906976744186046rpx
          172.67441860465115rpx;
        .text_4 {
          width: 137.7906976744186rpx;
          height: 24.41860465116279rpx;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 0.5);
          font-size: 22.674418604651162rpx;
          letter-spacing: -0.40799999237060547px;
          font-family: Inter-Light;
          font-weight: 300;
          text-align: center;
          white-space: nowrap;
          line-height: 38.372093023255815rpx;
        }
        .text_5 {
          width: 118.6046511627907rpx;
          height: 31.3953488372093rpx;
          overflow-wrap: break-word;
          color: rgba(84, 187, 252, 1);
          font-size: 27.906976744186046rpx;
          letter-spacing: -0.40799999237060547px;
          font-family: Inter-Light;
          font-weight: 300;
          text-align: center;
          white-space: nowrap;
          line-height: 38.372093023255815rpx;
        }
      }
    }
    .text_6 {
      position: absolute;
      left: 0;
      top: 130.8139534883721rpx;
      width: 319.1860465116279rpx;
      height: 19.186046511627907rpx;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 0.5);
      font-size: 22.674418604651162rpx;
      letter-spacing: -0.40799999237060547px;
      font-family: Inter-Light;
      font-weight: 300;
      text-align: center;
      white-space: nowrap;
      line-height: 38.372093023255815rpx;
    }
  }
  .box_3 {
    position: relative;
    width: 746.5116279069767rpx;
    height: 190.11627906976744rpx;
    margin: 47.093023255813954rpx 0 924.4186046511628rpx -31.3953488372093rpx;
    .box_4 {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 17px;
      height: 190.11627906976744rpx;
      margin-left: 66.27906976744185rpx;
      width: 680.2325581395348rpx;
      .text-wrapper_3 {
        width: 125.5813953488372rpx;
        height: 50.58139534883721rpx;
        margin: 20.930232558139537rpx 0 0 31.3953488372093rpx;
        .text_7 {
          width: 125.5813953488372rpx;
          height: 50.58139534883721rpx;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 41.86046511627907rpx;
          font-family: Inter-Regular;
          font-weight: normal;
          text-align: left;
          white-space: nowrap;
          line-height: 41.86046511627907rpx;
        }
      }
      .text-wrapper_4 {
        width: 509.30232558139534rpx;
        height: 31.3953488372093rpx;
        margin: 59.30232558139535rpx 0 27.906976744186046rpx
          167.4418604651163rpx;
        .text_8 {
          width: 137.7906976744186rpx;
          height: 24.41860465116279rpx;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 0.5);
          font-size: 22.674418604651162rpx;
          letter-spacing: -0.40799999237060547px;
          font-family: Inter-Light;
          font-weight: 300;
          text-align: center;
          white-space: nowrap;
          line-height: 38.372093023255815rpx;
        }
        .text_9 {
          width: 118.6046511627907rpx;
          height: 31.3953488372093rpx;
          overflow-wrap: break-word;
          color: rgba(255, 161, 161, 1);
          font-size: 27.906976744186046rpx;
          letter-spacing: -0.40799999237060547px;
          font-family: Inter-Light;
          font-weight: 300;
          text-align: center;
          white-space: nowrap;
          line-height: 38.372093023255815rpx;
        }
      }
    }
    .text_10 {
      position: absolute;
      left: 0;
      top: 130.8139534883721rpx;
      width: 319.1860465116279rpx;
      height: 19.186046511627907rpx;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 0.5);
      font-size: 22.674418604651162rpx;
      letter-spacing: -0.40799999237060547px;
      font-family: Inter-Light;
      font-weight: 300;
      text-align: center;
      white-space: nowrap;
      line-height: 38.372093023255815rpx;
    }
  }
  .box_5 {
    background-color: rgba(217, 217, 217, 0);
    position: absolute;
    left: 34.883720930232556rpx;
    top: 504.06976744186045rpx;
    width: 680.2325581395348rpx;
    height: 88.95348837209302rpx;
  }
  .box_6 {
    background-color: rgba(243, 234, 184, 1);
    height: 163.95348837209303rpx;
    width: 750rpx;
    position: absolute;
    left: 0;
    top: 0;
    .box_7 {
      width: 711.6279069767442rpx;
      height: 34.883720930232556rpx;
      margin: 13.953488372093023rpx 0 0 19.186046511627907rpx;
    }
    .box_8 {
      width: 723.8372093023256rpx;
      height: 76.74418604651163rpx;
      margin: 22.674418604651162rpx 0 15.69767441860465rpx 8.720930232558139rpx;
      .label_2 {
        width: 76.74418604651163rpx;
        height: 76.74418604651163rpx;
      }
      .text_12 {
        width: 198.8372093023256rpx;
        height: 50.58139534883721rpx;
        overflow-wrap: break-word;
        color: rgba(141, 105, 20, 1);
        font-size: 55.81395348837209rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 17.441860465116278rpx 0 0 -12.209302325581396rpx;
      }
    }
  }
}
