.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 750rpx;
  height: 1625.5813953488373rpx;
  overflow: hidden;
  .block_1 {
    background-color: rgba(243, 234, 184, 1);
    height: 163.95348837209303rpx;
    margin-top: -3.488372093023256rpx;
    width: 750rpx;
    .block_7 {
      width: 711.6279069767442rpx;
      height: 34.883720930232556rpx;
      margin: 13.953488372093023rpx 0 0 19.186046511627907rpx;
    }
    .block_8 {
      width: 723.8372093023256rpx;
      height: 76.74418604651163rpx;
      margin: 22.674418604651162rpx 0 15.69767441860465rpx 8.720930232558139rpx;
      .label_1 {
        width: 76.74418604651163rpx;
        height: 76.74418604651163rpx;
      }
      .text_2 {
        width: 198.8372093023256rpx;
        height: 50.58139534883721rpx;
        overflow-wrap: break-word;
        color: rgba(141, 105, 20, 1);
        font-size: 55.81395348837209rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 17.441860465116278rpx 0 0 -8.720930232558139rpx;
      }
    }
  }
  .box_5 {
    position: relative;
    width: 750rpx;
    height: 1466.860465116279rpx;
    margin-bottom: 1.744186046511628rpx;
    .box_2 {
      background-color: rgba(255, 217, 128, 1);
      width: 750rpx;
      height: 95.93023255813954rpx;
      .label_2 {
        width: 64.53488372093024rpx;
        height: 64.53488372093024rpx;
        margin: 15.69767441860465rpx 0 0 50.58139534883721rpx;
      }
      .text_3 {
        width: 310.4651162790698rpx;
        height: 45.348837209302324rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 55.81395348837209rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 29.651162790697676rpx 205.8139534883721rpx 0
          118.6046511627907rpx;
      }
    }
    .block_9 {
      width: 666.2790697674419rpx;
      height: 48.83720930232558rpx;
      margin: 31.3953488372093rpx 0 1290.6976744186047rpx 36.627906976744185rpx;
      .label_3 {
        width: 36.627906976744185rpx;
        height: 36.627906976744185rpx;
      }
      .text_4 {
        width: 165.69767441860466rpx;
        height: 26.162790697674417rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 41.86046511627907rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 1.744186046511628rpx 0 0 76.74418604651163rpx;
      }
      .text_5 {
        width: 127.32558139534883rpx;
        height: 47.093023255813954rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 41.86046511627907rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 1.744186046511628rpx 0 0 259.8837209302326rpx;
      }
    }
    .box_4 {
      background-color: rgba(217, 217, 217, 1);
      border-radius: 50%;
      position: absolute;
      left: 95.93023255813954rpx;
      top: 102.90697674418605rpx;
      width: 76.74418604651163rpx;
      height: 76.74418604651163rpx;
    }
  }
}
