.page {
  background-color: rgba(212, 239, 243, 1);
  position: relative;
  width: 750rpx;
  height: 1625.5813953488373rpx;
  overflow: hidden;
  .group_1 {
    background-color: rgba(243, 234, 184, 1);
    height: 163.95348837209303rpx;
    width: 750rpx;
    .group_2 {
      width: 711.6279069767442rpx;
      height: 34.883720930232556rpx;
      margin: 13.953488372093023rpx 0 0 19.186046511627907rpx;
    }
    .group_3 {
      width: 723.8372093023256rpx;
      height: 76.74418604651163rpx;
      margin: 22.674418604651162rpx 0 15.69767441860465rpx 8.720930232558139rpx;
      .label_1 {
        width: 76.74418604651163rpx;
        height: 76.74418604651163rpx;
      }
      .text_2 {
        width: 198.8372093023256rpx;
        height: 50.58139534883721rpx;
        overflow-wrap: break-word;
        color: rgba(141, 105, 20, 1);
        font-size: 55.81395348837209rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 17.441860465116278rpx 0 0 -8.720930232558139rpx;
      }
    }
  }
  .group_4 {
    position: relative;
    width: 750rpx;
    height: 1463.3720930232557rpx;
    margin-bottom: 1.744186046511628rpx;
    .text_3 {
      width: 211.04651162790697rpx;
      height: 45.348837209302324rpx;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 0.5);
      font-size: 41.86046511627907rpx;
      letter-spacing: -0.40799999237060547px;
      font-family: Inter-Light;
      font-weight: 300;
      text-align: center;
      white-space: nowrap;
      line-height: 38.372093023255815rpx;
      margin: 144.7674418604651rpx 0 0 17.441860465116278rpx;
    }
    .text-wrapper_1 {
      width: 369.7674418604651rpx;
      height: 36.627906976744185rpx;
      margin: 55.81395348837209rpx 0 0 34.883720930232556rpx;
      .text_4 {
        width: 176.1627906976744rpx;
        height: 26.162790697674417rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 0.5);
        font-size: 41.86046511627907rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
      }
      .text_5 {
        width: 207.5581395348837rpx;
        height: 36.627906976744185rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 41.86046511627907rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin-left: -13.953488372093023rpx;
      }
    }
    .text_6 {
      width: 176.1627906976744rpx;
      height: 26.162790697674417rpx;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 0.5);
      font-size: 41.86046511627907rpx;
      letter-spacing: -0.40799999237060547px;
      font-family: Inter-Light;
      font-weight: 300;
      text-align: center;
      white-space: nowrap;
      line-height: 38.372093023255815rpx;
      margin: 64.53488372093024rpx 0 0 12.209302325581396rpx;
    }
    .text_7 {
      width: 249.41860465116278rpx;
      height: 31.3953488372093rpx;
      overflow-wrap: break-word;
      color: rgba(0, 0, 0, 0.3);
      font-size: 41.86046511627907rpx;
      letter-spacing: -0.40799999237060547px;
      font-family: Inter-Light;
      font-weight: 300;
      text-align: center;
      white-space: nowrap;
      line-height: 38.372093023255815rpx;
      margin: 57.55813953488372rpx 0 1001.1627906976744rpx 29.651162790697676rpx;
    }
    .box_3 {
      background-color: rgba(255, 217, 128, 1);
      position: absolute;
      left: 0;
      top: -1.744186046511628rpx;
      width: 750rpx;
      height: 95.93023255813954rpx;
      .label_2 {
        width: 64.53488372093024rpx;
        height: 64.53488372093024rpx;
        margin: 19.186046511627907rpx 0 0 50.58139534883721rpx;
      }
      .text_8 {
        width: 181.3953488372093rpx;
        height: 29.651162790697676rpx;
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 55.81395348837209rpx;
        letter-spacing: -0.40799999237060547px;
        font-family: Inter-Light;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        line-height: 38.372093023255815rpx;
        margin: 33.13953488372093rpx 277.3255813953488rpx 0 176.1627906976744rpx;
      }
    }
    .box_4 {
      background-color: rgba(217, 217, 217, 0);
      position: absolute;
      left: 0;
      top: 95.93023255813954rpx;
      width: 750rpx;
      height: 94.18604651162791rpx;
    }
  }
}
